doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    // link(rel='stylesheet', href='/stylesheets/style_1.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav(class='navbar navbar-fixed-top navbar-inverse' role='navigation)
      div(class='container')
        div(class='navbar-header')
          button(type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-ex1-collapse')
            // Brand and toggle get grouped for better mobile display
            span(class='sr-only') Toggle navigation
            span(class='icon-bar')
            span(class='icon-bar')
            span(class='icon-bar')

          a(class='navbar-brand' href='#')YOURSITE.COM

        //!-- Collect the nav links, forms, and other content for toggling -->
        div(class='collapse navbar-collapse navbar-ex1-collapse')
          ul(class='nav navbar-nav')
            li
              a(href='#') Link 1
            li
              a(href='#') Link 2
            li(class='dropdown')
              a(href='#' class='dropdown-toggle' data-toggle='dropdown')Dropdown 
                b(class='caret')
          ul(class='dropdown-menu')
            li(a href='#') action
            li(a href='#') another action
            li(a href='#') Something else here
            li(a href='#') Separated link
            li(a href='#') One more separated link

          ul(class='nav navbar-nav navbar-right')
            a(class='btn btn-success btn-sm navbar-btn' style='margin-left:10px;' href='#') Sign in
            a(class='btn btn-danger btn-sm navbar-btn' href='#') Sign up
              div(class='btn-group ')
                button(class='btn btn-info navbar-btn btn-sm') En
                button(class='btn dropdown-toggle navbar-btn btn-info btn-sm' data-toggle='dropdown')
                  span(class='caret')
                ul(class='dropdown-menu' style='min-width:30px;')
                  //!-- dropdown menu links -->
                  li(a href='') Ru
                  li(a href='') Fr
                  li(a href='') Es
                  
    div(class='container')
      div(class='panel panel-default')
        div(class='panel-heading') List Groups
          div(class='panel-body')
            div(class='row')
              div(class='col-lg-4')
                block sidebar
                  ul(class='list-group')
                    li(class='list-group-item')
                      a(href='/catalog') Home
                    li(class='list-group-item')
                      a(href='/catalog/books') All books
                    li(class='list-group-item')
                      a(href='/catalog/authors') All authors
                    li(class='list-group-item')
                      a(href='/catalog/genres') All genres
                    li(class='list-group-item')
                      a(href='/catalog/bookinstances') All book-instances
                    li(class='list-group-item')
                      hr
                    li(class='list-group-item')
                      a(href='/catalog/author/create') Create new author
                    li(class='list-group-item')
                      a(href='/catalog/genre/create') Create new genre
                    li(class='list-group-item')
                      a(href='/catalog/book/create') Create new book
                    li(class='list-group-item')
                      a(href='/catalog/bookinstance/create') Create new book instance (copy)

        div(class='col-sm-10')
          block content